trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(nodeVersion)
    displayName: 'Install Node.js'

  - script: npm ci
    displayName: 'npm ci - Install dependencies'

  - script: npm run build
    displayName: 'npm run build'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'dist'
      ArtifactName: 'build-artifacts'
      publishLocation: 'Container'
    displayName: 'Publish build artifacts'
